extends layout

block content
  #slides
    .slides-container
      each filename in files.length ? files : ['There are no slides']
        img(src=rootPath+filename)

    .slides-navigation
      a.next(href='#') Next
      a.prev(href='#') Previous
